<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv2yy2HQt20oD2u2d2q4EMg9gpKYdQRwI</string>
	<key>GCM_SENDER_ID</key>
	<string>152314318795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.diniz.danilo.GYManager</string>
	<key>PROJECT_ID</key>
	<string>gymanager-dds42</string>
	<key>STORAGE_BUCKET</key>
	<string>gymanager-dds42.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152314318795:ios:9bd71da89c1ca6feb2704e</string>
</dict>
</plist>